* {
    padding: 0;
    margin:0;
}
body {
    background-color: #384959;
      font-family: 'Inter', sans-serif;
      color: white;
}
h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

/* Home page */

.navbar {
    height: 1.5625rem;
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    background-color: #88bdf2;
    position: sticky;
    top: 0;           
    z-index: 1000;
}
.logo {
    max-width: 100%;
    width: 100px;
    margin-top: 10px;
    object-fit: cover;
    height: auto;
}
.navbar-items{
    margin: 4px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.navbar-item{
    font-size: 10px;
    text-decoration: none;
    color: black;
    padding-top: 2px;
}
.navbar-item:hover{
    color: white;
}
header {
    padding: 20px;
    height: 100vh;
}
.header-title {
    margin-top: 100px;
    text-align: center;
}
.header-subtitle {
    text-align: center;
}
.summary {
    text-align: center;
    margin-top: 40px;
}
.header-buttons {
    display: flex;
    justify-content:center;
    gap:3.75rem;
    margin-top: 70px;
}
.header-button {
    text-decoration: none;
    color: black;
    background-color: #88bdf2;
    box-shadow: 9px 7px 11px -2px rgba(0,0,0,0.55);
    padding: 5px;
    border-radius: 4px;
    border: solid #384959;
}
.header-button:hover {
    background-color: #6a89a7;  
}
.about {
    padding: 20px;
}
.section-title {
    text-align: center;
}
.about-skills {
    margin-top: 50px;
}
.about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
    margin: 20px;
}
.skills {
    margin-left: 30px;
    background-color: #88bdf2;
    width: 100%;
    max-width: 12.5rem;
    border-radius: 5px 5px 0 0; 
    box-shadow: 5px 5px 15px -5px #000000;
}
.skills-title {
    background-color: #6a89a7;
    text-align: center;
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.skills-list {
    padding: 20px;
    margin-left: 10px;
}
.skill {
    margin: 10px 0;
    color:#000000;
    font-weight: 500;
}
.projects {
    margin-top: 40px;
    padding: 20px;
}
.projects-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.875rem;
}
.project {
    background-color: #6a89a7;
    padding-left: 30px;
}
.contact {
    margin-top: 40px;
    padding: 20px;
}
.contact-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.875rem;
}
.contact-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.625rem;
}
.contact-card a {
    color: white;
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    background-color: #6a89a7;
    padding: 10px;
}
.form-group {
    display: flex;
    flex-direction: column;
}
.form-group label {
    font-weight: 700;
    
}
.form-group input, .form-group textarea {
    border: solid #000000;
    border-radius: 5px;
}
.form-button {
    border-radius: 5px;
    background-color: #88bdf2;
    width: 100%;
    max-width: 6.25rem;
    align-self: center;
    font-weight: 600;
}
.form-button:hover {
    background-color: #6a89a7;
    cursor: pointer;
}
footer {
    background-color: #bdddfc;
    color: black;
    text-align: center;
    font-size: 10px;
    margin-top: 50px;
}
@media (min-width: 768px) {
    .navbar {
        height: 50px;
        padding: 0 100px;
    }
    .logo {
        width: 200px;
        margin-top: 20px;
        margin-right:x;
    }
    .navbar-items{
    gap: 1.25rem;
    }
    .navbar-item{
    font-size: 20px;
    }
    .about-skills {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 100px;
    }
    .skills {
    max-width: 25rem;
   }
    .projects-container {
        padding: 0 100px;
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: 300px 300px;
    }
   .contact-container {
    padding: 0 100px;
    align-self: center;
    flex-direction: row;
    gap: 6.25rem;
   }

   .contact-form {
    width: 100%;
    max-width: 31.25rem;
   }
   footer {
    font-size: 15px;
}

}
@media (min-width: 1024px) {
    .projects-container {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
    }
    .project {
        padding: 50px;
        padding-right: 100px
    }
    .contact-container {
        gap: auto;
    }
   .contact-card {
    margin-left: 100px;
   }
   .contact-form {
    margin-right: 100px;
   }
}